.side-bar
  .side-bar__user_name
    .top-items
      .top-items__name aaaaa
      .top-items__icons
        = link_to "#" do
          = icon('fa', 'edit', class: 'top-items__icons--edit')
        = link_to "#" do
          = icon('fa', 'cog', class: 'top-items__icons--cog')
  .side-bar__group_list
    .group-pool
      .group-pool__name team1
      .group-pool__message newteam1
    .group-pool
      .group-pool__name team1
      .group-pool__message newteam1
    .group-pool
      .group-pool__name team1
      .group-pool__message newteam1
  
